---
layout: page
description: "A developer on the road"
---

{% unless paginator.previous_page %}
<div class="intro">
    <p>
        :wave: Welcome to my website! Since 2017, I've been sharing stories about my life on the road, working remotely from unique spots, and diving into the details of converting, maintaining, and repairing old vehicles.
    </p>
    <p>    
        Articles are in reverse chronological order, starting with the latest. Learn more <a href="{% link about.md %}">about me and my vehicles</a> or dive into the <a href="{% post_url 2017-01-11-my-future-mobile-office %}">first post</a> to follow my journey from the very beginning. Enjoy!
    </p>
</div>
<hr>
{% endunless %}

{% for post in paginator.posts %}
<div class="post-preview">
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <a href="{{ post.url | prepend: site.baseurl }}"  class="post-image" style="background-image: url('{{ site.baseurl }}/{{ post.header-img }}')"></a>
    <p class="description">{% if post.description %}{{ post.description | strip_html | truncatewords:40 }}{% else %}{{ post.content | strip_html | truncatewords:40 }}{% endif %}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
