<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="subscribe-form">
                <form class="text-center subscribe-form" action="https://api.follow.it/subscription-form/cWVZSFk3azM2Mkl2YWJGS0hxYzhSRm1EbkNoMC9CT2RRVHRHVGMxaE9xUXFlM1ArUFBuRy8yOTB1MlZROEcwYUV4VGYxVGtyc2ZZdkhwVVZPaW5JaThGUXEwZFBXUGk5YU9TZ3prRlJISThKVEtPVGFOTG9HRklZMzJMU0lvYjB8L3BBcVRJcnZBay9zN0xjMTlPbEIrM1c0UWdmeGpSY3lCTEMrNmVEVnFNbz0=/8" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=ruby-on-wheels', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                    <p><input type="email" name="email" required="required" spellcheck="false" placeholder="name@example.com"> <input type="submit" value="Subscribe to updates"></p>
                    <input type="hidden" value="ruby-on-wheels" name="uri">
                    <input type="hidden" name="loc" value="en_US">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email_username %}
                    <li>
                        <a href="mailto:{{ site.email_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/custom.min.js" | prepend: site.baseurl }}"></script>
